body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./table.jpeg') ;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
h1{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: rgb(69, 76, 85);
    /* z-index: 1; */
}
.pob{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.searchBox{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-group{
    width: 40%;
}
.modal-title{
    font-weight: bold;
}
#street img{
    padding: 5px;
    margin: 5px;
}
